﻿@model SampleASPCoreVS.Models.Restaurant
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
    <h3>Detail Restaurant</h3>

    <p>ID @Model.ID  dan Nama @Model.Name</p>
</body>
</html>
