﻿@model SampleASPCoreVS.Models.Restaurant

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit Restaurant</title>
</head>
<body>

    <h4>Edit Restaurant</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form action="/Restaurant/Edit" method="post">
                <input type="hidden" name="id" value="@Model.ID" />
                <div class="form-group">
                    <label for="Name" class="control-label">Masukan Nama Restaurant :</label>
                    <input name="Name" value="@Model.Name" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Edit" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div><br /><br />
    <span style="color:red">@ViewBag.Pesan</span>
</body>
</html>
