﻿@model IEnumerable<SampleASPCoreVS.Models.Restaurant>

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Daftar Restaurant</title>
</head>
<body>
    <h3>Daftar Restaurant</h3>
    <br />
    @Html.ActionLink("Tambah","Create")
    <br />
    <form action="/Restaurant/Search" method="post">
        <label for="search">Masukan Nama yang Dicari :</label>
        <input type="text" name="search" value="" />
        <button type="submit">Search</button>
    </form><br /><br />

    <table border="1">
        <tr>
            <td>ID</td>
            <td>Restaurant Name</td>
        </tr>
        @foreach(var res in Model)
        {
            <tr>
                <td>@res.ID</td>
                <td><a href="/Restaurant/Detail/@res.ID">@res.Name</a></td>
                <td><a href="/Restaurant/Edit/@res.ID">Edit</a></td>
            </tr>
        }
    </table>
    <br /><br />

    <span style="color:red">@ViewBag.Pesan</span>
</body>
</html>
