﻿@model SampleASPCoreVS.ViewModels.RestaurantViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Daftar Restaurant</title>
</head>
<body>
    <table>
        <tr>
            <td>ID</td>
            <td>Retaurant Name</td>
        </tr>
        @foreach(var res in Model.Restaurants)
        { 
            <tr>
                <td>@res.ID</td>
                <td>@res.Name</td>
            </tr>
        }
    </table><br /><br />

    <p>Greetings @Model.Pesan</p>
</body>
</html>
