﻿@model SampleASPCoreVS.Models.Restaurant

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello ASP Core</title>
</head>
<body>
    <h3>Restaurant List</h3>
    <p>ID Restaurant @Model.ID dan Nama Restaurant @Model.Name</p>
    <p>Nama: @ViewData["nama"]</p>
    <p>List Nama :</p>
    <ul>
        @foreach(var nama in ViewBag.ListOfNama)
        {
            <li>@nama</li>
        }
    </ul>
</body>
</html>
